# JMeter Configuration
USER_NAME=root
MASTER_IP=164.52.211.192
JMETER_PATH=~/jmeter
JMETER_TEST=gabiru.jmx
JMETER_SLAVES=164.52.212.41,164.52.212.42

# Kubernetes Configuration
NAMESPACE=prod
LABEL_SELECTOR=app=imgproxy-imgproxy

# Server Configuration
PORT=4000
